@attribute [Route(PageUrls.AbhayYojana)]
@attribute [Route("{culture?}" + PageUrls.AbhayYojana)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@inherits AppPageBase

@using Bit.BlazorUI
@using System.Linq
@using SRAAI.Shared.Dtos.AbhayYojana

<AppPageData Title="Abhay Yojana Applications"
             PageTitle="Abhay Yojana Applications" />

<section>
    <BitStack Gap="16">
        <!-- Import Section -->
        <BitText typography="BitTypography.Subtitle1">Import Excel Data</BitText>
        <BitStack Horizontal HorizontalAlign="BitAlignment.Start" Gap="10px">
          
            
            <BitFileUpload @ref="fileUploadRef"
                       AutoReset
                       AutoUpload
                       HideFileView
                       Accept=".xlsx"
                       MaxSize="1024 * 1024 * 50"
                       UploadUrlProvider="GetUploadUrl"
                       UploadRequestHttpHeadersProvider="GetUploadRequestHeaders"
                       OnUploading="() => isBusy = true"
                       OnUploadFailed="HandleUploadFailed"
                       OnUploadComplete="HandleUploadComplete">
                <LabelTemplate>
                    <BitButton IconName="@BitIconName.Upload" 
                               Disabled="isBusy"
                               OnClick="() => fileUploadRef.Browse()">Select Excel file</BitButton>
                </LabelTemplate>
            </BitFileUpload>

            <BitFileUpload @ref="fileUploadRef2"
                           AutoReset
                           AutoUpload
                           HideFileView
                           Accept=".xlsx"
                           MaxSize="1024 * 1024 * 50"
                           UploadUrlProvider="GetBuilderUploadUrl"
                           UploadRequestHttpHeadersProvider="GetBuilderUploadRequestHeaders"
                           OnUploading="() => isBusy = true"
                           OnUploadFailed="HandleUploadFailed"
                           OnUploadComplete="HandleBuilderUploadComplete">
                <LabelTemplate>
                    <BitButton IconName="@BitIconName.Upload"
                               Disabled="isBusy"
                               OnClick="() => fileUploadRef2.Browse()">Select Builder Excel file</BitButton>
                </LabelTemplate>
            </BitFileUpload>

            <BitButton IconName="@BitIconName.View"
                       OnClick="GoToSummary">View Result</BitButton>
           
        </BitStack>
        </BitStack>
</section>
